[Unit]
Description=client
Documentation=https://github.com/ghapsara/ssh-monitor

[Service]
WorkingDirectory=/root
ExecStart=/usr/local/bin/client

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
