[Unit]
Description={{ service }}
Documentation=https://github.com/ghapsara/ssh-monitor

[Service]
WorkingDirectory=/root
ExecStart=/usr/local/bin/{{ service }}

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
