[Unit]
Description=server

[Service]
RootDirectory=/root
ExecStart=/usr/local/bin/server

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
